<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="APMDatabaseEntities" connectionString="metadata=res://*/DataAccessLayer.APMDatabaseModel.csdl|res://*/DataAccessLayer.APMDatabaseModel.ssdl|res://*/DataAccessLayer.APMDatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV03-PC\SQL2016;initial catalog=testBWK;persist security info=True;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>